@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Lemon&family=Sarabun&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-image: url(fundoanimais.svg);
    margin: 0px;
    font-size: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.cabecalho {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    max-width: 618px;
}

.nome {
    font-family: 'Lemon', cursive;
    font-weight: 400;
    color: #4F7478;
    font-size: 30px;
}

.botao {
    width: 135px;
    height: 43px;
    background: #F3F4F5;
    border: 2px solid #4F7478;
    box-sizing: border-box;
    border-radius: 15px;

    font-family: 'Sarabun', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #4F7478;

    cursor: pointer;
}

.botao:hover {
    background: #c9c9c9;
}

.principal {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    max-width: 500px;
    margin-left: 62px;
    margin-top: 100px;
    gap: 32px;
}

.titulo {
    font-family: 'Lemon', cursive;
    font-weight: 400;
    font-size: 46px;
    color: #4F7478;
}

.descrito {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 22px;
    color: #6A6A6A;
    max-width: 420px;
}

.botao23 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 650px;
    gap: 29px;
    margin-left: 62px;
    margin-top: 45px;
}

.botao1 {
    width: 146px;
    height: 43px;
    background: #C4C4C4;
    border: none;
    border-radius: 15px;
    
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 22px;
    color: #4F7478;

    cursor: pointer;
}

.botao2 {
    width: 146px;
    height: 43px;
    background: #4F7478;
    border: none;
    border-radius: 15px;

    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 22px;
    color: #F3F4F5;

    cursor: pointer;
}

.botao1:hover {
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    letter-spacing: 0.5px;
}

.botao2:hover {
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    letter-spacing: 0.5px;
}

@media screen and (max-width: 1180px) {

    .cabecalho {
        max-width: 57%;
    }

    .principal {
        max-width: 50%;
    }

    .titulo {
        font-size: 52px;
    }

    .descrito {
        max-width: 500px;
        font-size: 26px;
    }
}

@media screen and (min-width: 1480px) {

    .cabecalho {
        max-width: 50%;
    }

    .principal {
        max-width: 47%;
    }

    .titulo {
        font-size: 58px;
    }

    .descrito {
        max-width: 525px;
        font-size: 28px;
    }

    .botao1 {
        width: 160px;
        height: 50px;
        font-size: 26px;
    }

    .botao2 {
        width: 160px;
        height: 50px;
        font-size: 26px;
    }
}

@media screen and (max-width: 500px) {

    .principal {
        margin-left: 35px;
        max-width: 350px;
    }
    
    .botao23 {
        margin-left: 30px;
    }
}